<div>
  <h1>Filmy Billy!</h1>
  <p>Follow <a href="http://twitter.com/filmybilly">Filmy Billy</a> on Twitter.</p>
  <ul id="reviews">
    <p>This comes from Rails!</p>
    <% @reviews.each do |review| %>
      <%= render 'show', :review => review %>
    <% end %>
  </ul>
  <br />
  <%= link_to 'New Review', new_review_path %>
</div>
